body {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.header {
  background: #fff url(../images/background_header.svg) no-repeat center / cover;
  position: relative;
  max-height: 800px;
  height: 100vh;
}

/* Form */

/* contacts */

.footer {
  background: #fff url(../images/background_footer.svg) no-repeat center / cover;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

/*copyright*/

.copyright {
  position: absolute;
  bottom: 60px;
  left: 80px;
  font-weight: normal;
  color: white;
}
